{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Avant j'étais dans la moutarde, maintenant suis dans la merde !</h1>
                <hr>
                <a href="https://www.youtube.com/watch?v=EpoGzMEaHE0" class="btn btn-primary btn-xl page-scroll">Tu ne sera pas déçu...</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

{% endblock %}